<div>
    <br>
    <h2 style="text-align: center;color:#069">Forgot Password </h2>    
    <hr> 
  </div>
  <div class="container col-lg-6">          
      <div class="card">
        <div class="card-body">
          <form class="form-group">                    
            <div class="form-group">
              <label for="email">Enter your Email </label>            
              <input type="email" class="form-control" id="emailId" [(ngModel)]="emailId"
                name="emailId">
            </div>            
            <button (click)=resetPassword() class="btn btn-primary mr-3">Reset Password</button>                        
          </form>
          <span *ngIf="infoMessage.length > 0">{{ infoMessage }}</span>
        </div>
      </div>
    </div>
  
  
